* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #191919;
}

.main {
  width: 100%;
  position: relative;
}

.page1 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: #fff;
}

nav {
  display: flex;
  width: 100%;
  height: 5vw;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 6vw;
}

nav > h1 {
  font-size: 2.5vw;
  font-weight: 200;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 4vw;
}

.nav-right button {
  padding: 0.8vw 1.5vw;
  border: 1px solid #ffffff97;
  color: #fff;
  border-radius: 2vw;
  background-color: #191919;
}

.nav-right > i {
  font-size: 1.2vw;
}

.page1-heading {
  position: relative;
  padding: 6vw 4vw;
  display: flex;
  justify-content: center;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.page1-heading-top > h1 {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-size: 5.5vw;
  cursor: pointer;
}
.page1-heading-center > h1 {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-size: 6vw;
  cursor: pointer;
}

.page1-heading-bottom > h1 {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-size: 5.5vw;
  cursor: pointer;
}

.page1-heading span {
  color: #fff;
  position: relative;
}

.page1-heading span::after {
  content: "";
  width: 100%;
  height: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
  left: 0;
}

.page1-heading-box img {
  scale: 0;
  transition: all ease 0.5s;
}

.page1-heading-top {
  position: relative;
  z-index: 1;
}

.brand1 {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: -60%;
  left: 5%;
  z-index: 9;
}

.website1 {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: -60%;
  left: 5%;
  z-index: 9;
}

.plateform1 {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: -60%;
  left: 5%;
  z-index: 9;
}

.page1-heading-center {
  position: relative;
}

.brand2 {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.website2 {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.plateform2 {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.page1-heading-bottom {
  position: relative;
}

.brand3 {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: -40%;
  left: 80%;
  z-index: 9;
}

.website3 {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: -40%;
  left: 80%;
  z-index: 9;
}

.plateform3 {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: -40%;
  left: 80%;
  z-index: 9;
}

.page1-video {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1-video > video {
  height: 85%;
  width: 85%;
  object-fit: cover;
  border-radius: 0.5vw;
}

.page2 {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.page2-text {
  position: relative;
  padding: 6vw 6vw;
  height: 55vh;
  display: flex;
  justify-content: space-between;
}

.page2-text > h1 {
  font-size: 2.4vw;
  font-weight: 500;
  width: 60%;
  line-height: 1.2;
}

.page2-text-right {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-left: 5vw;
}

.page2-text-right > p {
  font-size: 1.2vw;
  width: 75%;
}

.scroller {
  width: 100%;
  height: 45vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroller > h1 {
  font-size: 12vw;
  flex-shrink: 0;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: -12px;
}

.scroller > h1 > span {
  color: #fff;
}

.page3 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 0vw 8vw;
}

.page3-elem1 {
  position: relative;
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ffffff83;
}

.page3-elem1-dets {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0;
  color: #fff;
}

.page3-elem1-dets > h1:nth-child(2) {
  opacity: 0.5;
  font-weight: 500;
}

.page3-elem1-img {
  width: 100%;
  height: 91vh;
  display: flex;
  justify-content: end;
}

.page3-elem1-img > img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

.page3-elem2 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.page3-elem2 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.page3-elem2-dets {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0;
  color: #fff;
}

.page3-elem2-dets > h1:nth-child(2) {
  opacity: 0.5;
  font-weight: 500;
}

.page3-elem2-img {
  width: 100%;
  height: 91vh;
  display: flex;
  justify-content: end;
}

.page3-elem2-img > img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

.page3-elem3 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.page3-elem3 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.page3-elem3-dets {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0;
  color: #fff;
}

.page3-elem3-dets > h1:nth-child(2) {
  opacity: 0.5;
  font-weight: 500;
}

.page3-elem3-img {
  width: 100%;
  height: 91vh;
  display: flex;
  justify-content: end;
}

.page3-elem3-img > img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

.page3-elem4 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.page3-elem4 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.page3-elem4-dets {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0;
  color: #fff;
}

.page3-elem4-dets > h1:nth-child(2) {
  opacity: 0.5;
  font-weight: 500;
}

.page3-elem4-img {
  width: 100%;
  height: 91vh;
  display: flex;
  justify-content: end;
}

.page3-elem4-img > img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

.page3-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2vw;
}

.page3-btn > button {
  padding: 0.8vw 1.5vw;
  border: 1px solid #ffffff97;
  color: #fff;
  border-radius: 2vw;
  font-size: 1.1vw;
  cursor: pointer;
  background-color: #191919;
}

.page4 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 6vw;
  padding-top: 4vw;
  color: #fff;
}

.page4-left {
  position: relative;
  width: 50%;
  display: flex;
}

.page4-left > h1 {
  font-size: 4vw;
  line-height: 1;
  text-transform: uppercase;
}

.page4-right {
  position: relative;
  width: 50%;
  padding: 0 4vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.page4-right-elem {
  padding: 1.5vw;
  border: 1px solid #fff;
  border-radius: 0.5vw;
  background-color: #191919;
}

.page4-right-elem > p {
  font-size: 1.2vw;
  margin-bottom: 1.5vw;
}

.page4-right-elem > h3 {
  font-weight: 500;
}

.page4-right > .page4-right-elem:nth-child(2) {
  transform: rotate(2deg);
  transform-origin: top left;
  position: absolute;
  top: 27%;
}

.page4-right > .page4-right-elem:nth-child(3) {
  transform: rotate(-2deg);
  transform-origin: top right;
  margin-top: 1vw;
  position: absolute;
  top: 58%;
}

.page5 {
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  padding: 0 6vw;
}

.page5-left {
  position: relative;
  width: 50%;
  color: #fff;
}

.page5-left > h1 {
  font-size: 6vw;
}

.page5-left > h3 {
  font-size: 1.2vw;
  font-weight: 500;
  opacity: 0.9;
}

.page5-left > h3:nth-child(3) {
  margin: 2vw 0;
}

.page5-left-dets {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 1vw;
}

.page5-left-dets i {
  font-size: 1.5vw;
}

.page5-left-dets p {
  font-size: 1vw;
  text-decoration: underline;
}

.page5-left > button {
  margin-top: 1vw;
  padding: 0.8vw 1.5vw;
  border: 1px solid #ffffff97;
  color: #fff;
  border-radius: 2vw;
  background-color: #191919;
}

.page5-right {
  position: relative;
  width: 50%;
  height: 100%;
  padding-left: 8vw;
}

.page5-right > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5vw;
}

.page6 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 6vw 4vw;
  color: #fff;
}

.page6-text {
  display: flex;
  justify-content: center;
  margin-bottom: 6vw;
}

.page6-text > h1 {
  font-size: 6vw;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  text-align: center;
}

.page6-text > h1 > span {
  color: #fff;
}

.page6-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrapper-elem {
  width: calc((100% / 3) - 4vw);
  height: 50vh;
  border-radius: 0.5vw;
  margin-top: 2vw;
  overflow: hidden;
}

.wrapper-elem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page7 {
  position: relative;
  height: 65vh;
  width: 100%;
  background-color: #cd7650;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  padding: 4vw 6vw;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50vh;
}

.page7-left {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page7-left > h3 {
  font-size: 0.9vw;
  font-weight: 500;
}

.page7-left > h3:nth-child(3) {
  margin-top: 2vw;
}

.page7-left > p {
  margin-top: 0.2vw;
  text-decoration: underline;
}

.icons {
  display: flex;
  gap: 0.5vw;
  margin-top: 2.5vw;
}

.icons i {
  font-size: 1.5vw;
}

.page7-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.page7-right-elem > h1 {
  margin-top: 0.8vw;
  opacity: 0.8;
}

.page7 > .line {
  background-color: #191919;
}

.page7 > p {
  margin-top: 1.2vw;
  text-decoration: underline;
}
